# SCM
.git

# Non production files
scripts
test
CONTRIBUTING.md
Jenkinsfile
LICENSE
README.md
examples
nodemon.json

# Dev files
webpack.config.js
eslintrc

# Packages
node_modules/

# IDE files
.idea
.vscode
