.schemaContainer {
    composes: flexWrapper from "../common/common.css";
}

.editorContainer {
    width: 70%;
    background-color: white;
}

.structureViewContainer {
    width: 30%;
    border-left: 6px solid #EDEDED;
    background-color: white;
    overflow: auto;
}
