.structureHeader {
    padding-top: 10px;
    font-size: 18px;
}

.structureContent {
    padding-left: 20px;
    padding-right: 20px;
}

.ag-link {
    font-size: 14px;
    padding-left: 15px;
}

.alertBox {
    margin: 10px;
}

.structureViewList {
    margin-top: 15px;
}