.structureListItem {
    height: 60px;
    border-bottom: 1px solid lightgrey !important;
}

.structureListItem span.fa-angle-right {
    border-right: 1px solid lightgrey;
    font-weight: bold;
    font-size: 24px;
    padding-right: 25px;
    padding-bottom: 3px;
}

.structureListItem div.row {
    font-size: 14px;
}

.structureFieldRow {
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}

.structureHeading {
    font-size: 14px;
    font-weight: 600;
}

.structureItemRow {
    margin-top: 5px;
}