.top-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.spinner {
    margin-top: 100px;
}

div.list-group-item-container .pficon-close {
    display: none;
}

.list-view-pf-main-info {
    height: 70px;
}

.resolvers-list div.list-group-item-text {
    text-align: right;
}

.resolvers-list div.list-view-pf-additional-info {
    text-align: right;
    color: #188bcc;
}

.resolvers-list span {
    width: 100%;
}

.resolvers-list div.list-view-pf-left {
    width: auto;
}

.resolvers-list div.list-view-pf-main-info {
    margin-top: 7px;
}

.blank-slate-pf .blank-slate-pf-icon {
    color: #D1D1D1;
}