.top-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.spinner {
    margin-top: 100px;
}

div.list-group-item-container .pficon-close {
    display: none;
}

.list-view-pf-main-info {
    height: 70px;
}

.resolvers-list div.list-view-pf-left {
    min-width: 200px;
    text-align: left;
}

.blank-slate-pf .blank-slate-pf-icon {
    color: #D1D1D1;
}