.top-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.ag-header {
    padding: 15px;
    height: 64px;
    background-color: #f5f5f5;
}

.ag-header > p {
    font-size: 24px;
    font-weight: lighter;
    font-family: "Arial";
}

ul.nav {
    background-color: #f5f5f5;
}

ul.nav li {
    margin-left: 15px;
}

.toolbar-container {
    border-top: 1px solid lightgrey;
}

div.list-group {
    background-color: white;
}

.ds-list-item {
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
}

div.list-view-pf-left {
    width: 20%;
    text-align: left;
}

span.list-item-name {
    color: #188bcc;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs > li > a:hover{
    border: 1px solid lightgrey;
}

.spinner {
    margin-top: 100px;
}

div.list-group-item-container .pficon-close {
    display: none;
}