.mappingControlLabel {
    margin-right: -50px;
    margin-top: 3px;
    font-weight: 600;
}

.mappingDropDown {
    font-weight: 500;
    background: none;
    min-width: 110px;
    text-align: left;
}