.detailEmpty {
    border: none;
    background-color: unset;
    margin-top: 20%;
}

.emptyTitle {
    font-size: 17px;
}

.detailHeader {
    padding: 12px 15px;
    margin: 0;
    background: #EDEDED;
}

.detailSubHeader {
    padding: 12px 15px 15px 15px;
    margin: 0;
}

.detailCodeEditor {
    height: 200px;
    border: 1px solid #D1D1D1;
    margin-top: -8px;
    /* TODO: allow vertical resize */
} 

.resolverButtons {
    padding-left: 30px;
    padding-top: 15px;
}

.buttonSave {
    margin-right: 5px;
}

.learnMore {
    font-size: 9px;
    color: #4EABDA;
    margin-left: 12px;
}

.formContainer {
    padding-left: 35px;
    padding-top: 10px;
    padding-right: 20px;
}