.flexWrapper {
    /* 206 being the exact height of the components on top of SchemaContainer */
    height: calc(100vh - 206px) !important;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: white !important;
}

.resolversListContainer {
    width: 40%;
    overflow-y: auto;
}

.resolverDetailContainer {
    width: 60%;
    border-left: 6px solid #EDEDED;
}

.resolverDetailsArea {
    margin: 0 auto;
    width: 80%;
}

.resolverHeader {
    margin-left: 20px;
    height: 64px;
    padding-top: 15px;
    font-size: 24px;
}

.resolverInputArea {
    height: 120px;
    border: 1px solid #EDEDED;
} 

.resolverButtons {
    padding-left: 30px;
    padding-top: 15px;
}

.buttonSave {
    margin-right: 5px;
}
