.flexWrapper {
    composes: flexWrapper from "../common/common.css";
}

.resolversListContainer {
    width: 40%;
    overflow-y: auto;
    background-color: white;
}

.resolverDetailContainer {
    width: 60%;
    border-left: 6px solid #EDEDED;
    overflow-y: hidden;
    position: relative;
}
