.flexWrapper {
    /* 206 being the exact height of the components on top of SchemaContainer */
    height: calc(100vh - 206px) !important;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: white !important;
}

.left {
    width: 40%;
    border-right: 1px solid lightgrey;
    overflow-y: auto;
}

.right {
    width: 60%;
    border-left: 5px solid lightgrey; 
    border-top: 50px solid lightgrey;
}

.resolverDetailsArea {
    margin: 0 auto;
    width: 80%;
}

.resolverHeader {
    margin-left: 20px;
    height: 64px;
    font-size: 24px;
}

.resolverInputArea {
    height: 120px;
    border: 1px solid lightgrey;
} 
