.resolverSecurity {
  border-bottom: 1px solid lightgrey;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resolverDetailsArea {
  margin: 0 auto;
  width: 80%;
}

.resolverHeader {
  margin-left: 20px;
  height: 64px;
  padding-top: 15px;
  font-size: 24px;
}