.editor-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.editor-area {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 14px;
    border: none;
    resize: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow-y: auto;
    background-color: #FAFAFA
}

.expand {
    overflow: hidden;
    width: auto;
    height: 100%;
}

.numbers {
    height: 100%;
    width: 32px;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
    overflow: hidden;
    color: #424242;
    text-align: center;
    font-size: 12px;
    font-family: monospace;
}

.vcenter {
    align-self: flex-end;
    margin-right: 10px;
}
