.editor-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.editor-area {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-family: monospace;
    font-size: 14px;
    border: none;
    resize: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow-y: auto;
    background-color: #FAFAFA;
}

.expand {
    overflow: hidden;
    width: auto;
    height: 100%;
}

.numbers {
    float: left;
    width: 32px;
    background-color: #f5f5f5;
    color: lightgrey;
    text-align: center;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    border-right: 1px solid lightgrey;
}

.vcenter {
    align-self: flex-end;
    margin-right: 10px;
    height: 20px;
}
